<div class="container-fluid">
  <div class="row" *ngIf="isChecked; else noChecked">
    <div *ngIf="haveGuardia == 0">
      <div class="col-md-8 mt-3 mx-auto" *ngIf="guardias.length; else noGuardias">
        <div class="col-md-6 mt-3 mx-auto text-center">
          <h3>Guardias</h3>
        </div>
        <table class="table">
          <thead class="table-active text-center">
            <tr>
              <th>Profesor ausente</th>
              <th>Aula</th>
              <th>Grupo</th>
              <th *ngIf="isAdmin">Seleccionar profesor</th>
              <th>Asignar guardia</th>
            </tr>
          </thead>
          <tbody class="text-center">
            <tr *ngFor="let guardia of guardias">
              <td>
                {{ guardia.dAusente.nombre }} {{ guardia.dAusente.apellido1 }}
                {{ guardia.dAusente.apellido2 }}
              </td>
              <td>{{ guardia.aula }}</td>
              <td>{{ guardia.grupo }}</td>
              <td *ngIf="isAdmin">
                <select *ngIf="guardia.dGuardia === undefined; else siDGuardia" [(ngModel)]="emailAsignar" name="" id="">
                  <option *ngFor="let user of users" [ngValue]="user.email">
                    {{user.nombre}} {{user.apellido1}} {{user.apellido2}}
                  </option>
                </select>
                <ng-template #siDGuardia>
                  {{ guardia.dGuardia.nombre }}
                  {{ guardia.dGuardia.apellido1 }}
                  {{ guardia.dGuardia.apellido2 }}
                </ng-template>
              </td>
              <td>
                <button class="btn btn-secondary" *ngIf="guardia.dGuardia === undefined"
                  (click)="asignarGuardia(guardia)">
                  Asignar guardia
                </button> 
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div *ngIf="haveGuardia == 1">
      <div class="row">
        <div class="col-md-6 mt-3 mx-auto text-center">
          <h3>Guardia asignada</h3>
        </div>
        <div class="col-md-8 mx-auto mt-3">
          <table class="table">
            <thead class="table-active text-center">
              <tr>
                <th>Profesor ausente</th>
                <th>Aula</th>
                <th>Grupo</th>
                <th>Profesor de guardia</th>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr>
                <td>
                  {{ guardia.dAusente.nombre }} {{ guardia.dAusente.apellido1 }}
                  {{ guardia.dAusente.apellido2 }}
                </td>
                <td>{{ guardia.aula }}</td>
                <td>{{ guardia.grupo }}</td>
                <td>
                  {{ guardia.dGuardia.nombre }}
                  {{ guardia.dGuardia.apellido1 }}
                  {{ guardia.dGuardia.apellido2 }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-6 mx-auto">
        <div class="col-sm-12 mt-3" *ngIf="updated == 1">
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            Observaciones actualizadas correctamente.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
              (click)='quit()'></button>
          </div>
        </div>
        <label for="exampleTextarea" class="form-label mt-4">Observaciones</label>
        <textarea class="form-control" [(ngModel)]="guardia.observacion" name="" id="observaciones" cols="30"
          rows="10"></textarea>
        <div>
          <button class="btn btn-secondary mt-3" (click)="updateObservaciones(guardia)">Actualizar
            observaciones</button>
        </div>
      </div>
    </div>
    <ng-template #noGuardias>
      <div class="col-md-6 mt-3 mx-auto text-center">
        <h3>No hay faltas de asistencia</h3>
      </div>
    </ng-template>
  </div>
  <ng-template #noChecked>
    <div class="col-md-3 mx-auto mt-4">
      <div class="card">
        <div class="card-header">
          Confirmar guardia
        </div>
        <div class="card-body">
          <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">
                Confirmar la asistencia a la sesión de guardia
              </label>
            </div>
            <button type="submit" class="btn btn-primary" (click)="confirmarGuardia()">
              Confirmar
            </button>
          </form>
        </div>
      </div>
    </div>
  </ng-template>
</div>