.cabecera{
    background-color: #2A6163;
    color: #F1F5F5;
}

.hora{
    background-color: #7E7D88;
    color: #F1F5F5;
}

.patio{
    background-color: #9ABFB9;
    color: #2A6163;
}

.profesores{
    background-color: #A49470;
    color: #F1F5F5;
}