<div class="container-fluid">
    <div class="row">
        <div class="text-center mt-4">
          <h1>Guardias IES La Vereda</h1>
        </div>
      </div>
      <div class="row">
        <div class="text-center mt-4">
          <img
            class="img-responsive"
            style="height: 90%;"
            src="../../../assets/portada.png"
          />
        </div>
      </div>
      
      <div class="row">
        <div class="mt-5">
          <div class="text-center">
            <span>
              <strong>Dirección:</strong>
              Carrer d'Emilia Pardo Bazán, 46185 La Pobla de Vallbona, Valencia
            </span>
            <br />
            <span>
              <strong>Teléfono:</strong>
              962 71 83 45
            </span>
            <br />
            <span>
              <strong>Correo electrónico:</strong>
              46022543@gva.es
            </span>
            <br />
            <span><strong></strong></span>
          </div>
        </div>
      </div>
      
</div>